name: Python Build for COMP-880

on:
  workflow_call:

jobs:
  python-build-comp-880:
    name: Python Build for COMP-880
    runs-on: ubuntu-latest

    steps:
    - id: checkout-repo
      name: Checkout repository
      uses: actions/checkout@v3
      with:
        # Get complete history so we can see the log
        fetch-depth: 0
    - id: setup-python
      name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
        cache: 'pip'
    - id: install-dependencies
      name: Install dependencies
      shell: bash
      run: |
        # Install dependencies (globally on the GitHub Actions runner)
        python -m pip install --upgrade pip
        python -m pip install flake8 pep8-naming flake8-variables-names flake8-docstrings pytest
        flake8 --version
        pytest -V
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - id: show-git-log
      name: Show git commit log
      shell: bash
      continue-on-error: true
      run: |
        # Show git commit log
        git log --name-status
    - id: check-design
      name: Check for design document
      shell: bash
      continue-on-error: true
      run: |
        # Check for design document
        [ -f "DESIGN.md" ] && [ -s "DESIGN.md" ] \
        && echo "Design file is present." \
        || exit 1
    - id: compile
      name: Compile all files
      shell: bash
      run: |
        # Compile all files
        python -m compileall . -l
    - id: test
      name: Run unit tests
      shell: bash
      continue-on-error: true
      run: |
        # Run unit tests
        if [[ -d "tests" ]];
          then python -m unittest discover -v tests;
          else echo "No tests run.";
        fi
    - id: run
      name: Run all Python code to see output
      shell: bash
      continue-on-error: true
      run: |
        # Run all Python code to see output
        for f in *.py; do python "$f"; done
    - id: lint-code
      name: Check Python code formatting
      continue-on-error: true
      shell: bash
      run: |
        # Check Python code formatting
        flake8 apps --extend-ignore=D,VNE,N --show-source --count --max-complexity=10 --max-line-length=79
    - id: lint-pep-8
      name: Check for PEP-8 naming conventions
      continue-on-error: true
      shell: bash
      run: |
        # Check PEP-8 naming
        flake8 apps --extend-ignore=D,F,E,W --show-source --count --max-complexity=10 --max-line-length=79
    - id: lint-docstrings
      name: Check for PEP-257 docstring conventions
      continue-on-error: true
      shell: bash
      run: |
        # Check docstrings
        flake8 apps --extend-ignore=D212,VNE,N,F,E,W --show-source --count --max-complexity=10 --max-line-length=79
    - id: summary-report
      name: Summary of checks
      shell: bash
      run: |
        # Summary of checks
        echo "SUMMARY:"
        echo "${{ steps.check-design.outcome }} -> Design document present"
        [ -d "tests" ] && echo "${{ steps.test.outcome }} -> Unit tests working"
        echo "${{ steps.lint-code.outcome }} -> Python code formatted well"
        echo "${{ steps.lint-pep-8.outcome }} -> PEP-8 naming conventions followed"
        echo "${{ steps.lint-docstrings.outcome }} -> PEP-257 docstring conventions followed"
        #
        if [[ true \
            && ${{ steps.check-design.outcome }} == "success" \
            && ${{ steps.test.outcome }} == "success" \
            && ${{ steps.lint-code.outcome }} == "success" \
            && ${{ steps.lint-pep-8.outcome }} == "success" \
            && ${{ steps.lint-docstrings.outcome }} == "success" \
           ]];
          then exit 0;
          else exit 1;
        fi
